* { border: 1px solid green; } /* *는 모든 선택자 */
h2 { color: blue; background-color: yellow;}
#descript { background-color: pink;}
.bold { font-weight: bold;}
#second>li { color: red; }
#first li { color: blue; }